@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
}

body {
    background-color: rgb(0, 0, 40);
    font-family: 'Poppins', sans-serif;
}

/*================= navbar=================  */
.container {
    background-color: rgb(0, 0, 40);
}

nav {
    width: 98vw;
    height: 10vh;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 25px;
    color: #b0a0ff;
    font-weight: bolder;
    font-family: 'Poppins';
    padding: 30px;
    font-size: 2.2rem;
}

nav h1 span {
    color: white;
}

nav li {
    list-style: none;
}

nav li a {
    font-family: 'Poppins', 'sans-serif';
    padding: 20px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


nav a:hover {
    border-bottom: 3px solid #b0a0ff;
    color: #b0a0ff;
    font-size: large;
    font-weight: bold;
}

/* nav  li a::after{
    content:'';
    width:0;
    height:3px;
    background: #b0a0ff;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s;
}

nav  li a :hover::after{
    width:100%;
} */

/* =================main=================== */
.main {
    margin: 50px;
    color: white;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoContainer {
    width: 80vw;
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.devInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bold;
    word-spacing: 3px;
    /* padding:20px; */
}

.devInfo .hi {
    height: 45px;
    width: 50px;
}

.devInfo h4{
    padding-bottom:20px;
}

.devInfo .animate-text {
    font-family: serif;
    text-align: center;
    font-size: 180%;
    letter-spacing: 7px;
    word-spacing: 35px;
    color: #b0a0ff;
    opacity: 0.5;
    margin-bottom:7px;
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-20%);
}

/* animation  */
.animate {
    animation: typewriter 5s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 14em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

/* circle  */
.devImg {
    background-color: #b0a0ff;
    border-radius: 50%;
    height: 210px;
    width: 210px;
    overflow: hidden;
    margin: 20px;
}

.devImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.intro {
    font-size: 85px;
    color: white;
    font-weight: bold;
}

.name {
    font-size: 85px;
    color: #b0a0ff;
    font-family: 'Poppins' !important;
    font-weight: bolder;
}

.devRole {
    font-size: 35px;
    font-weight: normal !important;

}

.btns button {
    background-color: rgb(0, 0, 40);
    color: #b0a0ff;
    padding: 10px 15px;
    border-radius: 26px;
    border: 2px solid #b0a0ff;
    font-family: 'Poppins';
    font-size: 15px;
    margin: 3px;
    font-weight: bold;
    cursor: pointer;
}

.btns button:hover {
    background-color: #b0a0ff;
    color: white;
}

/* ======================about============== */
#about {
    background-color: rgb(0, 0, 40);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 150px;
    padding-bottom: 200px;
    font-family: sans-serif;
}

.about-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid grey;
    background-color: #b0a0ff;
    box-shadow: 7px 7px 12px #8b68ff;
    border-radius: 50px;
    padding: 50px;
}

.aboutText {
    padding-left: 100px;
}

.aboutText h3 {
    font-size: 2.7rem;
    font-weight: bolder;
    color: rgb(0, 0, 40);
    font-family: 'Poppins', sans-serif;
    padding-bottom: 40px;
}

.about-me {
    font-size: 1rem;
    font-weight: 500;
    font-family: sans-serif;
    /* color: grey; */
}

.tab-title {
    margin: 20px 0;
    display: flex;
}

.tab-link {
    margin-right: 50px;
    margin-bottom: 30px;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-link::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(0, 0, 40);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-link.active-link::after {
    width: 50%;
}

.about-edu {
    height: 100px;
    width: 420px;
    padding: 10px;
    margin: 15px 0;
    border-radius: 18px;
    background-color: rgb(0, 0, 40);
    color: white;
    box-shadow: 3px 4px 4px grey;
    position: relative;

}

.about-edu h5 {
    color: #b0a0ff;
    font-size: 1.1rem;
}

.about-edu h5 span {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: normal;
    font-size: 1rem;
    color: white;
}

.about-edu p {
    font-size: 1rem;
    padding: 10px;
}

.about-edu:hover {
    transform: scale(1.04);
    box-shadow: 4px 4px 3px grey;
}

/* avatar  */
.aboutImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .avatar {
position:relative;
animation:floatImg 2.1s infinite alternate-reverse linear;
} */

@keyframes floatImg {
    from {
        top: -15px;
    }

    to {
        bottom: 25px;
    }
}




/*================== contact============== */

.contactContainer {
    display: flex;
    align-items: center;
    /* background-color: white !important; */
}

.contactImg {
    margin-left: 223px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 200px;
}

.contactForm h2 {
    font-size: 3rem;
    color: #5b3aff;
    font-family: sans-serif;
    padding: 20px;
    position: relative;
    left: 25px;
}

.formElements {
    padding: 18px;
    margin: 10px;
    width: 20vw;
    border-radius: 15px;
    box-shadow: 3px 5px 4px #2b11b151;
    font-family: sans-serif;
    font-size: 15px;
    border: 1px solid #ddd;
    outline: none;
    font-weight: 770;
}

.formElements::placeholder {
    color: rgb(181, 181, 181);
}

.formMsg {
    height: 130px;
    resize: none;
    box-shadow: 3px 6px 4px #cabffd51;
}

.contactForm button {
    padding: 10px 5px;
    width: 22vw;
    margin: 10px;
    font-size: 1.1rem;
    color: #5b3aff;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #5b3aff;
    font-weight: bold;
    /* box-shadow: 2px 3px 3px #b0a0ff; */
    box-shadow: 3px 5px 4px #2b11b151;

}

.contactForm button:hover {
    font-weight: bolder;
    color: white;
    background-color: #5b3aff;

}





/* media query  */
@media only screen and (max-width: 640px) {
    .sidebar {
        width: 30vw;
        height: 100vh;
        background-color: #b0a0ff;
    }

    .sidebar nav {
        padding: 45px;
    }

    .sidebar nav li {
        font-size: 1.3rem;
        padding: 25px 0;
    }

    .main {
        width: 60vw;
        height: 100vh;
        background-color: white;
    }
}